.footer{
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(32, 32, 32);
  color: white;
  font-family:Josefin Sans;
  font-weight: normal;
  padding: 20px;
  letter-spacing: 3px;
}
.footer-container{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
.social-links,.contact-links,.address-links{
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px ;
    /*background-color: rgb(34, 34, 34);*/
    width: 300px;
}
.social-links-container,.contact-links-container{
    margin-top:10px ;
    display: flex;
}
.address-links-container{
    margin-top: 10px;
    font-family:Josefin Sans;
    font-size: 10px;
}
.fa{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 55%;
    top: 50%;
}
.btn-social{
    position: relative;
    border: none;
    border-radius:50%;
    margin-right: 10px;
    background-color:white;
    width: 20px;
    height: 20px;
    margin-top:5px;
}

.btn-social:hover{
    border: none;
    border-radius:50%;
    background-color:rgb(32, 32, 32);
    width: 20px;
    height: 20px;
}